body{
    width:50% ;
   margin-left: 25%;
   border: solid black 5px;
   text-align: center;
}
table {
    width: 100%;
    background-color: rgb(86, 223, 187);
  }
  button {
    width: 100%;
    font-size: 450%;
    border-radius: 45%;
    background-color: rgb(198, 227, 239);
  
  }
  .ac {
    color: red;
  }

  td:hover, ul.menu1:active {font-size: 150%;}