@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap');

/*   */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body{
    font-family: 'Open Sans', sans-serif;
}


/* Cabecera Body */
header{
    background: #96bce5;   
    background: linear-gradient(to right, #052cdb, #f5f5d2); 
    height: 46.8rem;
    padding: 48px;
    width: 100%;
}




.contenedor{
    width: 95%;
    max-width:1200px ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;  
}

#header img{
    display: block;
    height: 400px;
    object-fit: cover;
    width: auto;
    animation: moverArriba 1s ease-in;
}

.textos{
    width: 50%;
    color:black;
}

.textos h1{
    font-size: 35px;
    animation: moverDerecha 1s ease-in;
}

.textos h2{
    font-size: 20px;
    animation: moverIzquierda 1s ease-in;
    text-align: justify;
}



.textos a{
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    animation: moverIzquierda 5s ease-in;
}



/* Animaciones */
@keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }

    100%{
        opacity:1;
        transform: translate(0);
    }
}

@keyframes moverDerecha{
    0%{
        opacity: 0;
        transform: translateX(100%);
    }

    100%{
        opacity:1;
        transform: translate(0);
    }
}


@keyframes moverArriba{
    0%{
        opacity: 0;
        transform: translateY(100%);
    }

    100%{
        opacity:1;
        transform: translate(0);
    }
}


@media screen and (max-width:1000px){
    #header img{
        height: 400px;
    }
}

@media screen and (max-width:800px){
    #header img{
        height: 370px;
    }

    .textos h1{
        font-size: 25px;
    }
}