/* add by oskar gelves*/
.topnav {
    width: 20%;
    padding-right: 2px;
    margin: inherit;
    font: Helveltica;
    font-style: italic; 
    color: rgba(2, 18, 213);   
    background-color: rgba(32, 188, 113, 0.15);
   	
        }

    .topnav a {
        float: left;
        text-align: center;
        padding: 5px 16px;
        font-size: 13px;
    
	
		
    }

        .topnav a:hover {
            background-color: #ddd;
        }
     
        a{
            text-decoration: none;
            color:  rgba(2, 18, 213);
            padding: 10px;
            margin-right: 5px;
        }

        a:hover{
            color: red;
        }

    

          body{
            background: #96bce5;   
            background: linear-gradient(to right,  #8fe3ff, #e4f4fd); 
            width: 100%;
            color: rgba(2, 18, 213) !important;
          }

.Labels{
            width: 100%;
            font-size-adjust: 0.75;  
            margin-left: 0%;
           color: rgba(2, 18, 213);
            }


