/* add by oskar gelves*/
.topnav {
    width: 20%;
    padding-right: 2px;
    margin: inherit;
    font: Helveltica;
    font-style: italic; 
    color: black;   
    background-color: rgba(32, 188, 113, 0.15);
   	
        }

    .topnav a {
        float: left;
        text-align: center;
        padding: 5px 16px;
        font-size: 13px;
    
	
		
    }

        .topnav a:hover {
            background-color: #ddd;
        }
     
        a{
            text-decoration: none;
            color: black;
            padding: 10px;
            margin-right: 5px;
        }

        a:hover{
            color: red;
        }

        .burbujas div {
            background: rgba(72, 152, 189, 0.601);
            border-radius: 100%;
            position: absolute;
            bottom: 0;
            animation: animarburbujas 4s linear infinite;
          }
          
          .burbujas div:nth-child(1) {
            width: 50px;
            height: 45px;
            left: 40px;
            animation-duration: 4s;
          }
          
          .burbujas div:nth-child(2) {
            width: 60px;
            height: 55px;
            left: 25%;
            animation-duration: 8s;
          }
          
          .burbujas div:nth-child(3) {
            width: 30px;
            height: 27px;
            left: 40%;
            animation-duration: 5s;
          }
          
          .burbujas div:nth-child(4) {
            width: 65px;
            height: 60px;
            left: 50%;
            animation-duration: 10s;
          }
          
          .burbujas div:nth-child(5) {
            width: 55px;
            height: 50px;
            left: 65%;
            animation-duration: 6.5s;
          }
          
          .burbujas div:nth-child(6) {
            width: 50px;
            height: 48px;
            left: 85%;
            animation-duration: 9s;
          }
          
          .burbujas div:nth-child(7) {
            width: 35px;
            height: 32px;
            left: 90%;
            animation-duration: 6s;
          }
          
          @keyframes animarburbujas {
            0% {
              width: 0;
              height: 0;
            }
            3% {
              width: 30px;
              height: 27px;
            }
            50% {
              margin-left: 20px;
              opacity: 0.5;
            }
            100% {
              transform: rotate(90deg);
              bottom: 100vh;
              background: rgba(87, 107, 117, 0.136);
            }
          }

          body{
            background: #96bce5;   
            background: linear-gradient(to right,  #8fe3ff, #e4f4fd); 
            width: 100%;
          }