@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap');

/*   */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body{
    font-family: 'Open Sans', sans-serif;
}


/* Cabecera Body */
header{
    background: #96bce5;   
    background: linear-gradient(to right,  #8fe3ff, #e4f4fd); 
    height: 46.8rem;
    padding: 48px;
    width: 100%;
}


nav{
    display: flex;
    padding-left: 55%;
}

nav a{
    color: #94343c;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
}

a:hover {
    display: block;
    color: white;
    background-color: #94343c51;
    border-radius: 10px;
}

.contenedor{
    width: 95%;
    max-width:1200px ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;  
}

#header iframe{
    display: block;
   
    object-fit: cover;
    width: auto;
    animation: moverArriba 1s ease-in;
}

img {
    width: 400px;
    height: 300px;
    animation: moverIzquierda 1s ease-in;
}




.textos{
    width: 50%;
    color: #6c6464;
}

.textos h2{
    color:  #04545c ;
    font-size: 30px;
    animation: moverDerecha 1s ease-in;
}

.textos h3{
    font-size: 20px;
    animation: moverIzquierda 1s ease-in;
    text-align: justify;
}


.contenedorIntegrantes{
    width: 95%;
    max-width:1200px ;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: auto;  
    flex-direction: column;
}
.contenedorIntegrantes li{
    
    align-items: left;
    color: #94343c;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    list-style-type: none;
    animation: moverIzquierda 1s ease-in;
}





/* Animaciones */
@keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }

    100%{
        opacity:1;
        transform: translate(0);
    }
}

@keyframes moverDerecha{
    0%{
        opacity: 0;
        transform: translateX(100%);
    }

    100%{
        opacity:1;
        transform: translate(0);
    }
}


@keyframes moverArriba{
    0%{
        opacity: 0;
        transform: translateY(100%);
    }

    100%{
        opacity:1;
        transform: translate(0);
    }
}


@media screen and (max-width:1000px){
    #header img{
        height: 400px;
    }
}

@media screen and (max-width:800px){
    #header img{
        height: 370px;
    }

    .textos h1{
        font-size: 25px;
    }
}


